<div *ngIf="cartItems.length === 0" class="alert alert-info">No Item Added.</div>
<div *ngIf="cartItems.length > 0">
<ul class="list-group">
  <li class="list-group-item" *ngFor=" let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </li>
  <li class="list-group-item active">
    <strong>Total: {{ cartTotal | currency:'MYR' }}</strong>
    <button (click)="clearCart()" class="btn btn-warning float-right">CLEAR</button>
  </li>
</ul><br>
<button (click)="checkOut()" class="btn btn-success">CHECK OUT ITEM</button>
</div>

<div id="overlay">
<app-check-out-pay></app-check-out-pay>
<button (click)="closeWindow()" class="btn btn-danger btn-circle float-right">X</button>
</div>
