<div class="row">
  <div class="col-md-8">
    <li class="list-group-item">
      <app-item-list></app-item-list>
    </li>
  </div>
  <div class="col-md-4">
    <app-cart></app-cart>
  </div>
</div>
