<div class="row">
  <div class="col-md-4" *ngFor="let data of products">
    <div class="card mb-4">
      <img (click)="addToCart(data)" style="width: 100%; cursor: pointer;" src="{{data.imageUrl}}" />
        <div class="card-body">
          <p class="card-text"><strong>{{data.name}}</strong></p>
          <p class="card-text">{{ data.price | currency:'MYR' }}</p>
      </div>
    </div>
  </div>
</div>
