<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>

  <app-item-cart></app-item-cart>
<app-footer></app-footer>
</div>
